name: 'build-test'

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          npm install
      - run: |
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run action
        uses: ./
        with:
          sarifFile: test-data/webgoat.sarif
          outputFile: test-data/webgoat-with-security-standard-tag.sarif
      - name: Check output
        run: |
          grep -c '"owasp-top10-2021"' test-data/webgoat-with-security-standard-tag.sarif
          diff test-data/webgoat-with-security-standard-tag.sarif test-data/webgoat-with-security-standard-tag.sarif.expected
      - name: Check error handling
        uses: ./
        continue-on-error: true
        with:
          sarifFile: test-data/webgoat1.sarif
      - name: Archive SARIF output
        uses: actions/upload-artifact@v6
        with:
          name: sarif-output
          path: test-data/webgoat-with-security-standard-tag.sarif
